*{
  margin: 0px;
  padding: 0px;
}

#rubrik{
    width: 90vw;
    height: 10vh;
    border: black 10px solid;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 5vw;
}

#rubrik h1{
  margin-top: 15px;
}

#button{
  margin-left: 45vw;
  margin-top: 30px;
  padding: 10px;
  background-color: orange;
}

#rubriker{
  width: 90vw;
  height: 10vh;
}

#rubriker p{
  float: left;

  margin-top: 20px;
}

#ParOne{
  margin-left: 340px;
}

#ParTwo{
  margin-left: 240px;
  margin-right: 150px;
}

#buttonLast{
  margin-left: 45.5vw;
  margin-top: 40px;
  padding: 10px;
  background-color: green;
}

#kurser{
  width: 15vw;
  margin-left: 340px;
  float: left;
}

#betyg{
  width: 15vw;
  float: left;
  margin-left: -40px;
}

#poäng{
  width: 15vw;
  float: left;
}

input{
  margin-bottom: 20px;
}

select{
  margin-bottom: 15px;
}
